.list-cell{
    -fx-padding: 0;
    -fx-spacing: 0;
}

.list-cell:hover{
    -fx-background-color: blanchedalmond;
}
.list-cell:selected, .table-row-cell:selected {
    -fx-background-color: #d2a8ad;
}
.list-cell:selected:hover, .table-row-cell:selected:hover {
    -fx-background-color: #d2a8ad; /*#cf7c88;*/
}


#changed
{
    -fx-background-color: #ab2a65;
}
#changed:hover{
    -fx-background-color: #f42d9b;
}
#total_info
{
    -fx-background-color: rgb(198, 224, 180);
    -fx-background-radius: 15;
}

.status
{
    -fx-text-fill: rgba(71, 186, 85, 0.97);
    -fx-font-weight: bold;
}