.cell-tv1 {
    -fx-text-fill: black;
    -fx-font-size: 12;
}
.cell-tv2 {
    -fx-text-fill: black;
    -fx-font-size: 12;
}




#total_info
{
    -fx-background-color: rgb(198, 224, 180);
    -fx-background-radius: 15;
}

.status
{
    -fx-text-fill: rgba(71, 186, 85, 0.97);
    -fx-font-weight: bold;
}

.red0
{
    -fx-background-color: rgba(240, 240, 240, 0.1);
}
.red0_2
{
    -fx-background-color: rgba(240, 240, 240, 0.5);
}
.red1
{
    -fx-background-color: rgba(255, 0, 0, 0.2);
}
.red2
{
    -fx-background-color: rgba(255, 0, 0, 0.3);
}
.red3
{
    -fx-background-color: rgba(255, 0, 0, 0.6);
}
.red4
{
    -fx-background-color: rgba(155, 0, 0, 0.8);
}

.table-row-cell:selected .table-cell{
    -fx-border-color: blue;
}